{% extends 'base-user-profile.html' %}
{% block content %}
    {% block title %}<title>Change Password</title>{% endblock title %}
<div class="col-lg-6">
    <div class="central-meta">
        <div class="editing-info">
            <h5 class="f-title"><i class="ti-lock"></i>Change Password</h5>

            <form method="post">
                {% csrf_token %}
                {% for field in form%}
                <div class="form-group">
                  {{ field }}
                  <label class="control-label" for="input">{{ field.label_tag }}</label><i class="mtrl-select"></i>
                    {% if field.errors %}
                    <small class="text-danger">{{ field.errors }}</small>
                    {% endif %}
                    {% if field.help_text%}
                        <small>{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}
                <a class="forgot-pwd underline" title="" href="{% url 'accounts:password_reset' %}">Forgot Password?</a>
                <div class="submit-btns">
                    <button type="reset" class="mtr-btn"><span>Cancel</span></button>
                    <button type="submit" class="mtr-btn"><span>Change password</span></button>
                </div>
            </form>
        </div>
    </div>
</div><!-- centerl meta -->
{% endblock content %}