{% extends 'base-user-profile.html' %}
{% block content %}
    {% block title %}<title>Password Changed Successfully</title>{% endblock title %}
<div class="col-lg-6">
    <div class="central-meta">
        <div class="editing-info">
            <h5 class="f-title"><i class="ti-lock"></i>Password Changed Successfully</h5>
            <h5 class="text-success align-items-center">
                Your password have been changed successfully.
            </h5>
        </div>
    </div>
</div><!-- centerl meta -->
{% endblock content %}