{% extends 'auth_base.html' %}
{% block auth %}
{% block title %}<title> Reset Password </title>{% endblock title %}
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div class="login-reg-bg">
			<div class="log-reg-area">
				<h5 class="f-title"><i class="ti-lock"></i> Reset Password </h5>
				<form action="" method="post">
					{% csrf_token %}
                {% for field in form%}
                <div class="form-group">
                  {{ field }}
                  <label class="control-label" for="input">{{ field.label_tag }}</label><i class="mtrl-select"></i>
                    {% if field.errors %}
                    <small class="text-danger">{{ field.errors }}</small>
                    {% endif %}
                    {% if field.help_text%}
                        <small>{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="submit-btns">
                    <button type="reset" class="mtr-btn"><span>Cancel</span></button>
                    <button type="submit" class="mtr-btn"><span> Reset Password </span></button>
                </div>
				</form>
			</div>
		</div>
	</div>
{% endblock auth %}