{% extends 'auth_base.html' %}
{% block auth %}
{% block title %}<title> Activation email sent </title>{% endblock title %}
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div class="login-reg-bg">
			<div class="log-reg-area">
				<h5 class="f-title"><i class="ti-lock"></i>Reset Successful</h5>
				<form>
					<p>
                        Congratulations, you have successfully reset your
                        password you can now login with your password details.
                    </p>
				</form>
                <a class="forgot-pwd underline" title="" href="{% url 'accounts:login' %}">Login Now</a>
			</div>
		</div>
	</div>
{% endblock auth %}