{% extends 'auth_base.html' %}
{% block auth %}
{% block title %}<title> Activation email sent </title>{% endblock title %}
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div class="login-reg-bg">
			<div class="log-reg-area">
				<h5 class="f-title"><i class="ti-lock"></i>Activation email sent</h5>
				<form action="" method="post">
					<p>
                        We have sent you an email with instructions on how to reset your email pls kindly
                        check your inbox for instructions on how to reset your email.
                    </p>
				</form>
			</div>
		</div>
	</div>
{% endblock auth %}