{% extends 'base-user-profile.html' %}
{% load static %}
{% block content %}
{#    {% block title %}<title>Account Activation Error </title>{% endblock title %}#}
    <div class="col-lg-6">
        {% for course in courses %}
            <div class="central-meta item">
                <div class="user-post">
                    <div class="friend-info">
                        <figure>
                            <img src="{{ course.author.profile.avatar.url }}" alt="">
                        </figure>
                        <div class="friend-name">
                            <ins><a href="#" title="">{{ course.author.get_full_name|title }}</a></ins>
                            <span>published: {{ course.published }}</span>
                            <span>last updated: {{ course.last_updated|timesince }} ago</span>
                        </div>
                        <div class="post-meta">
                            <img src="{{ course.cover.url }}" alt="">
                            <div class="we-video-info">
                                <ul>
                                    <li>
                                        <span class="views" data-toggle="tooltip" title="views">
                                            <i class="fa fa-eye"></i>
                                            <ins>1.2k</ins>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="comment" data-toggle="tooltip" title="Comments">
                                            <i class="fa fa-comments-o"></i>
                                            <ins>52</ins>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="like" data-toggle="tooltip" title="like">
                                            <i class="ti-heart"></i>
                                            <ins>2.2k</ins>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="dislike" data-toggle="tooltip" title="dislike">
                                            <i class="ti-heart-broken"></i>
                                            <ins>200</ins>
                                        </span>
                                    </li>
                                    <li class="social-media">
                                        <div class="menu">
                                          <div class="btn trigger"><i class="fa fa-share-alt"></i></div>
                                          <div class="rotater">
                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
                                          </div>
                                          <div class="rotater">
                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
                                          </div>
                                          <div class="rotater">
                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
                                          </div>
                                          <div class="rotater">
                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
                                          </div>
                                          <div class="rotater">
                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
                                          </div>
                                          <div class="rotater">
                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-instagram"></i></a>
                                            </div>
                                          </div>
                                            <div class="rotater">
                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-dribbble"></i></a>
                                            </div>
                                          </div>
                                          <div class="rotater">
                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-pinterest"></i></a>
                                            </div>
                                          </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="friend-name">
                                <ins><a href="{{ course.get_absolute_url }}" title="">{{ course.title|title }}</a></ins>
                            </div>
                            <div class="description">
                                <p>
                                    {{ course.summary|capfirst }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="coment-area">
                        <ul class="we-comet">
                            <li>
                                <div class="comet-avatar">
                                    <img src="images/resources/comet-1.jpg" alt="">
                                </div>
                                <div class="we-comment">
                                    <div class="coment-head">
                                        <h5><a href="time-line.html" title="">Jason borne</a></h5>
                                        <span>1 year ago</span>
                                        <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                    </div>
                                    <p>we are working for the dance and sing songs. this car is very awesome for the youngster. please vote this car and like our post</p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="comet-avatar">
                                            <img src="images/resources/comet-2.jpg" alt="">
                                        </div>
                                        <div class="we-comment">
                                            <div class="coment-head">
                                                <h5><a href="time-line.html" title="">alexendra dadrio</a></h5>
                                                <span>1 month ago</span>
                                                <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                            </div>
                                            <p>yes, really very awesome car i see the features of this car in the official website of <a href="#" title="">#Mercedes-Benz</a> and really impressed :-)</p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" title="" class="showmore underline">more comments</a>
                            </li>
                            <li class="post-comment">
                                <div class="comet-avatar">
                                    <img src="images/resources/comet-1.jpg" alt="">
                                </div>
                                <div class="post-comt-box">
                                    <form method="post">
                                        <textarea placeholder="Post your comment"></textarea>
                                        <div class="add-smiles">
                                            <span class="em em-expressionless" title="add icon"></span>
                                        </div>
                                        <button type="submit"></button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- centerl meta -->
{% endblock content %}