{% extends 'styles.html' %}
{% load static %}
{% block body %}
<body>
    <div class="theme-layout">
        <div class="container-fluid pdng0">
            <div class="row merged">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="land-featurearea">
                        <div class="land-meta">
                            <h1>Digglepress</h1>
                            <div class="friend-logo">
                                <span><img src="{% static 'images/wink.png' %}" alt=""></span>
                            </div>
                        </div>
                    </div>
                </div>
                {% block auth %}

                {% endblock auth %}
            </div>
        </div>
    </div>
</body>
{% endblock body %}
</html>
