{% extends 'styles.html' %}
{% load static %}
{% block body %}
{% block title %}
    <title></title>
{% endblock title %}
{% include 'navbar.html' %}
	<section>
		<div class="gap2 gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							<div class="col-lg-3">
                                {% block sidebar-left %}
                                    {% include 'left_sidebar.html' %}
                                {% endblock sidebar-left %}
							</div>
                            <!-- sidebar left -->
							{% block content %}
                            {% endblock content%}
							<div class="col-lg-3">
                                {% block sidebar-right %}
                                    {% include 'right_sidebar.html' %}
                                {% endblock sidebar-right %}
							</div>
                            <!-- sidebar right -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock footer %}
{% endblock body %}